// <!-- Comment -->
$text-black: #1E1919;
$border-color: #DCDCDC;
$font: 'Manrope', sans-serif;
$text-gray: #bdbdbd;
$background-page: #f8fafc;


.content{
    backdrop-filter: $background-page !important;
}

.icon-header{
  color: $text-gray;
 //  margin-top: 5px;
}
.icon-header:hover{
  color: $text-black;
  transition-duration: 0.7s;
  transform: rotate(90deg);
 //  margin-top: 5px;
}
.icon-header:not(:hover){
  color: $text-gray;
  transition-duration: 0.7s;

 //  margin-top: 5px;
}
.des-header{
 color: $text-gray;
 font-size: 14px;
 font-family: $font;
}

.name-header{
  font-weight: 300;
  color: $text-black;
  font-size: 15px;
  font-family:$font;
 }

.primary-button{
    padding-left: 25px;
    padding-right: 25px;
    padding-top:10px;
    padding-bottom: 10px; 
    border-radius: 999px;
    border-color: $border-color !important;
    color:$text-black
}
.text-black1{
    color: $text-black;
    font-family: $font;
}

.navtext{
    font-weight: 500;
    font-size: 14px;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
}

.hero-image{
      /* The image used */
    /*  background-image: url("~/assets/file/background.png");*/
  background-color: #F1F1F1;  
  /* Full height */
  height: 100vh; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: px;

}

.bac-white{
  background-color: $background-page !important;
}

.sidebarmenu{
  display: block;
  width: 320px;
  background: white;
  z-index: 999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: $border-color !important;

}

.logo-panel{
  max-width: 200px;
}

@media only screen and (min-width: 1280px) {
  .contentpage{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    background-color: $background-page !important;
  }
}


@media only screen and (min-width: 1400px) {
  .contentpage{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $background-page !important;
  }
}

@media only screen and (min-width: 1500px) {
  .contentpage{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $background-page !important;
  }
}

@media only screen and (min-width: 1580px) {
  .contentpage{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $background-page !important;
  }
}

@media only screen and (min-width: 1700px) {
  .contentpage{
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $background-page !important;
  }
}