@tailwind base;
@tailwind components;
@tailwind utilities;


.navtext{
    font-weight: 500;
    font-size: 14px;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
}

.bg-linear1{
    background: linear-gradient(180deg, #000000 11.43%, rgba(0, 0, 0, 0.74) 48.79%, rgba(0, 0, 0, 0) 85.7%);
    position: relative;
}

.hero-image{
      /* The image used */
  background-image: url("~/assets/file/MODEL8.jpg");

  /* Full height */
  height: 100vh; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -168px;

}