// <!-- Comment -->
$text-menu: #333333;
$text-black: #1E1919;
$border-color: #DCDCDC;
$family: 'Manrope', sans-serif;
$family-sans: 'Manrope', sans-serif;
$text-gray: #bdbdbd;
$background-page: #f8fafc;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap');

.click{
  -webkit-tap-highlight-color:transparent;
  border-radius: 999px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fontone{
  font-family: $family-sans;
  font-weight: 00;
}
.content{
    backdrop-filter: $background-page !important;
}

.icon-header{
  color: $text-gray;
 //  margin-top: 5px;
}
.icon-header:hover{
  color: $text-black;
  transition-duration: 0.7s;
 //  margin-top: 5px;
}
.icon-header:not(:hover){
  color: $text-gray;
  transition-duration: 0.7s;

 //  margin-top: 5px;
}
.des-header{
 color: $text-gray;
 font-size: 14px;
 font-family: $family;
}

.name-header{
  font-weight: 300;
  color: $text-black;
  font-size: 15px;
  font-family:$family;
 }

.primary-button{
    padding-left: 25px;
    padding-right: 25px;
    padding-top:10px;
    padding-bottom: 10px; 
    border-radius: 999px;
    border-color: $border-color !important;
    color:$text-black
}
.text-black1{
    color: $text-black;
    font-family: $family;
}

.navtext{
    font-weight: 500;
    font-size: 14px;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
}

.hero-image{
      /* The image used */
    /*  background-image: url("~/assets/file/background.png");*/
  background-color: #F1F1F1;  
  /* Full height */
  height: 100vh; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: px;

}

.bac-white{
  background-color: $background-page !important;
}

.sidebarmenu{
  display: block;
  width: 320px;
  background: white;
  position: relative;
  z-index: 999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: $border-color !important;

}

.logo-panel{
  max-width: 170px;
}

@media only screen and (min-width: 1280px) {
  .contentpage{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    background-color: $background-page !important;
  }
}


@media only screen and (min-width: 1400px) {
  .contentpage{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $background-page !important;
  }
}

@media only screen and (min-width: 1500px) {
  .contentpage{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $background-page !important;
  }
}

@media only screen and (min-width: 1580px) {
  .contentpage{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $background-page !important;
  }
}

@media only screen and (min-width: 1700px) {
  .contentpage{
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $background-page !important;
  }
}

.menutext{
  font-family: $family-sans;
  font-weight: 500;
  font-size: 16px;
  padding: 0px 18px 30px 0px;
  color: $text-menu
}

.menuacc{
  font-family: $family-sans;
  font-weight: 500;
  font-size: 15px;
  padding: 10px;
  margin-left: -12px;
  color: $text-menu
}


.menutexticon{
  color: $text-menu;
  margin-right: 12px;
}

.menutexticonlog{
  color: rgb(156 163 175 / var(--tw-text-opacity));
  margin-right: 8px;
}

.openmenu{
  color: $text-gray;
}


/* Accordion*/
// Layout
.row {
  display:flex;
  .col {
    flex:1;
  }
}
/* Accordion styles */
.tabs {
  overflow: hidden;
  width: 270px;
}
.tab {
  width: 70%;
  color: white;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    cursor: pointer;
    
    /* Icon */
    &::after {
     // content: "\276F";
      content: url('https://api.iconify.design/carbon/chevron-down.svg');
      width: 17px;
      height: 17px;
      margin-top: 3px;
      color:#1E1919;
 
      transition: all .25s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    // color tekstu, rzeczy po otwarciu //
    color: $text-menu;
    transition: all .25s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    margin-left: 50px;
    font-size: 0.75em;
    cursor: pointer;
  }
}

// :checked
input:checked {
  + .tab-label {
    &::after {
      transform: rotate(180deg);
      margin-top: 5.5px;
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    width: 275px;
    margin-top: -12px;
    margin-bottom: 22px;
  }
}
