// <!-- Comment -->
$text-menu: #333333;
$text-black: #1E1919;
$border-color: #DCDCDC;
$family: 'Manrope', sans-serif;
$text-gray: #bdbdbd;
$background-page: #ebf0f5;
$color-difficult: red;
$color-time: purple;
$color-answer: yellow;
$text-option: gray;
$color-time-bg: rgb(235, 193, 235);
$color-answer-bg: rgb(239, 239, 188);
$text-option-bg: rgb(228, 171, 171);
$green: #33B970;
$red: #FF7171;
$blue: #618CFB;
$hover-text: rgba(97, 140, 251, 0.1);

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap');

.click {
  -webkit-tap-highlight-color: transparent;
  border-radius: 999px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title-hero{
  font-size: 28px;
  font-weight: 500;
}
.family {
  font-family: $family;
}

.content {
  background-color: $background-page !important;
}

.icon-header {
  color: $text-gray;
  //  margin-top: 5px;
}

.icon-header:hover {
  color: $text-black;
  transition-duration: 0.7s;
  //  margin-top: 5px;
}

.icon-header:not(:hover) {
  color: $text-gray;
  transition-duration: 0.7s;

  //  margin-top: 5px;
}

.des-header {
  color: $text-gray;
  font-size: 14px;
  font-family: $family;
}

.name-header {
  font-weight: 300;
  color: $text-black;
  font-size: 15px;
  font-family: $family;
}

.primary-button {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 999px;
  border-color: $border-color !important;
  color: $text-black
}

.text-black1 {
  color: $text-black;
  font-family: $family;
}

.navtext {
  font-weight: 500;
  font-size: 14px;
  font-size: 0.875rem;
  /* 14px */
  line-height: 1.25rem;
  /* 20px */
}

.hero-image {
  /* The image used */
  /*  background-image: url("~/assets/file/background.png");*/
  background-color: #F1F1F1;
  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: px;

}

.bac-white {
  background-color: white;
  border-bottom-width: 1px;
}

.sidebarmenu {
  display: block;
  width: 300px;
  background: white;
  position: relative;
  z-index: 999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: $border-color !important;

}

.logo-panel {
  max-width: 210px;
}

@media only screen and (min-width: 1280px) {
  .contentpage {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    background-color: $background-page !important;
  }
}


@media only screen and (min-width: 1400px) {
  .contentpage {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $background-page !important;
  }
}

@media only screen and (min-width: 1500px) {
  .contentpage {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $background-page !important;
  }
}

@media only screen and (min-width: 1580px) {
  .contentpage {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $background-page !important;
  }
}

@media only screen and (min-width: 1700px) {
  .contentpage {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $background-page !important;
  }
}

.menutext {
  font-family: $family;
  font-weight: 500;
  font-size: 16px;
  padding: 0px 18px 30px 0px;
  color: $text-menu
}

.menuacc {
  font-family: $family;
  font-weight: 500;
  font-size: 15px;
  padding: 10px;
  margin-left: -12px;
  color: $text-menu
}


.menutexticon {
  color: $text-menu;
  margin-right: 12px;
}

.menutexticonlog {
  color: rgb(156 163 175 / var(--tw-text-opacity));
  margin-right: 8px;
}

.openmenu {
  color: $text-gray;
}


/* Accordion*/
// Layout
.row {
  display: flex;

  .col {
    flex: 1;
  }
}

/* Accordion styles */
.tabs {
  overflow: hidden;
  width: 270px;
}

.tab {
  width: 70%;
  color: white;
  overflow: hidden;

  &-label {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    cursor: pointer;

    /* Icon */
    &::after {
      // content: "\276F";
      content: url('https://api.iconify.design/carbon/chevron-down.svg');
      width: 17px;
      height: 17px;
      margin-top: 3px;
      color: #1E1919;

      transition: all .25s;
    }
  }

  &-content {
    max-height: 0;
    padding: 0 1em;
    // color tekstu, rzeczy po otwarciu //
    color: $text-menu;
    transition: all .25s;
  }

  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    margin-left: 50px;
    font-size: 0.75em;
    cursor: pointer;
  }
}

// :checked
input:checked {
  +.tab-label {
    &::after {
      transform: rotate(180deg);
      margin-top: 5.5px;
    }
  }

  ~.tab-content {
    max-height: 100vh;
    width: 275px;
    margin-top: -12px;
    margin-bottom: 22px;
  }
}

.image-size {
  object-fit: cover;
  width: 500px;
  height: 200px;
}

.border-single-quiz {
  border-radius: 20px;
  border-color: $border-color;
  border-width: 1px;
  background-color: white;
}

.border-single-quiz-image {
  border-radius: 15px;
  height: 160px;
  width: 100%;

}

.quiz-title-card {
  font-family: $family;
  font-size: 16px;
  margin-top: 15px;
  display: flex;
  position: relative;
  height: 45px
}

.text-des-quiz {
  font-family: $family;
  font-size: 14px;
  font-weight: 300;
  color: $text-option
}


.difficulty-button {
  display: flex;
  margin-bottom: 30px;
  place-items: center;
  border-radius: 999px;
  border-color: $color-difficult;
  border-width: 1px;
  padding: 5px 10px 4px 12px;
  margin-right: 95px;
  margin-left: -50px;
}

.time-button {
  display: flex;
  place-items: center;
  border-radius: 999px;
  border-color: $color-time;
  border-width: 1px;
  padding: 4px 10px 4px 10px;
  margin-right: 45px;
}

.answer-button {
  display: flex;
  place-items: center;
  border-radius: 999px;
  border-color: $color-answer;
  border-width: 1px;
  padding: 4px 10px 4px 15px;
  margin-right: 168px;
  background-color: $color-answer-bg;
}

.quiz-option {
  color: $text-option
}

.border-hero {
  background-color: white;
  box-shadow: -5px 5px 20px 1px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

.ok-answer {
  color: $green;
  font-size: 28px;
  font-weight: 500;
}

.bad-answer {
  color: $red;
  font-size: 28px;
  font-weight: 500;
}


.text-hero-title {
  font-family: $family;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 24px;
  color: $text-menu
}

.hero-icon {
  color: $text-gray;
  margin-right: 10px;
}

.border-hero-items {
  border-right-width: 1px;
  border-left-color: $border-color;
}

.border-hero-section {
  background-color: white;
  box-shadow: -5px 5px 20px 1px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

.chevron-hero {
  color: $blue;
  margin-left: 4px;
}

.przejdz-premium {
  font-size: 14px;
  margin-left: 10px;
  margin-top: px;
  font-weight: 600;
  color: $blue;
  padding-top: 3px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.przejdz-premium:hover {
  text-decoration: underline;
  background: $hover-text;
}

.hero-text-des {
  font-size: 14px;
  margin-left: -10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 7px;
  font-weight: 400;
  color: $text-gray;
  border-radius: 10px;
}

.hero-text-des:hover {
  text-decoration: underline;
  background: $hover-text;
  color: $blue;

}

.hero-text-des-chevron {
  font-size: 14px;
  margin-left: -10px;
  padding-left: 10px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 7px;
  font-weight: 400;
  color: $text-gray;
  border-radius: 10px;
}

.hero-text-des-chevron:hover {
  text-decoration: underline;
  background: $hover-text;
  color: $blue;

}

//Search bar style
.search-bar {
  width: 400px;
  border-radius: 10px;
  border-color: $blue;
  border-width: 0.5px;
  background-color: $hover-text;
  padding: 10px 15px 10px 20px
}

.search-bar::placeholder {
  font-family: $family;
  font-size: 14px;
}

//Search bar style END

.pakiet-standard {
  font-size: 24px;
  font-weight: 900;
  font-family: $family;
}

.pakiet-premium {
  font-size: 24px;
  text-decoration: underline;
  text-decoration-color: $blue;
  text-decoration-thickness: 5px;
  font-weight: 900;
  font-family: $family;

}

.pakiet-premium-header {
  font-size: 14px;
  font-weight: 600;
  font-family: $family;
  margin-left: 8px;
  color: $blue;

}

.button1{
  border-radius: 8px;
  border-color: $blue;
  border-width: 1px;
  padding: 6px 15px 6px 15px;
}
.button1:hover{
background: $hover-text;
}

.text-hero-standard {
  font-size: 14px;
  margin-bottom: 6px;
  font-family: $family; 
color: rgb(73, 73, 73);
}

.text-hero-items-PREMIUM {
  color: $blue;
  font-weight: 600;
}